<div class="band header">
  <div class="row">
    <div class="four columns">
      <div class="button button-primary">
        <%= link_to "My Groups", groups_path %>
      </div>
    </div>
    <div class="four columns">
      <div class="button button-primary">
        <%= link_to "Invites", invitations_path %>
      </div>
    </div>
    <div class="four columns">
      <div class="button button-primary">
        <%= link_to "New Group", new_group_path %>
      </div>
    </div>
  </div>
</div>
