<%= render partial: "header" %>

<button><p><%= link_to "Back", groups_path %></p></button>

<div id="chat-canvas">
  <form id="chat-input">
    <input type="text" name="message">
    <input type="submit" name="send-message" value="Send">
  </form>

  <div id="chat-box">
  </div>
</div>

<script>
  <%= render "chat.js" %>
</script>
