<form id="add-user">
  <input type="text" name="name">
  <input type="submit" value="Add User">
</form>

<ul id="user-list">
  <% @users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
</ul>

<script>
  var users = <%= User.pluck(:name).to_json.html_safe %>
  $("input[name=name]").autocomplete({
    source: users
  });

  $("#add-user").on("submit", function(e) {
    e.preventDefault();

    $.ajax({
      type: "post",
      url: "/groups/<%= @group.id %>/users",
      data: $(this).serialize()
    }).success(function(response) {
      $("#user-list").append("<li>" + $("input[name=name]").val());
    }).fail(function() {
      // Display error message
    })
  })
</script>