<div class="row col span_12">
  <h1>My Groups</h1>
</div>

<%= render partial: "partials/navheader" %>

<div id="group-list">
  <% (@groups ||= []).each do |group| %>
    <div class="row col span_12 item">
      <a href="/groups/<%= group.id %>/map"><%= group.name %></a>
    </div>
  <% end %>
</div>
