<button id="new-group-link"><p><%= link_to "New Group", new_group_path %></p></button>
<button id="invitations-link"><p><%= link_to "Invites", invitations_path %></p></button>

<div id="group-list">
  <!-- <ul> -->
    <% (@groups ||= []).each do |group| %>
    <div class="group-name">
    <li><%= link_to group.name, url_for(group) %></li>
    </div>
    <% end %>
  <!-- </ul> -->
</div>
