<div class="row">
  <div class="col span_6 button"><p><%= link_to "New Group", new_group_path %></p></div>
  <div class="col span_6 button"><p><%= link_to "Invites", invitations_path %></p></div>
</div>

<div id="group-list">
  <% (@groups ||= []).each do |group| %>
    <div class="row col span_12 item">
      <a href="/groups/<%= group.id %>/map"><%= group.name %></a>
    </div>
  <% end %>
</div>
