<%= render partial: "header" %>

<div class="row">
  <div class="col span_12">
    <div style="height: 500px" id="map-canvas" data-group-id="<%=@group.id%>", data-user-id="<%=current_user.id%>">
    </div>
  </div>
</div>

<script>
  <%= render "map.js" %>
</script>
