<div class="row footer col span_12">
  <% unless current_user %>
    <h1>Keep Your Friends Close</h1>
    <div class="facebook-button">
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    </div>
  <% end %>
</div>
