/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require ../../../vendor/assets/stylesheets/responsive.gs.12col.css
 *= require ../../../vendor/assets/stylesheets/normalize.css
 * require_tree .
 * require_self
 */

/*body {
  color: white;
  text-decoration: none;
}

a {
  color: #FF9E00;
  text-decoration: none;
}

.header {
  padding: 10px;
  background-color: #90A437;
  border-bottom: 4px solid #4E5D0C;
}

.footer {
  padding: 10px;
  background-color: #90A437;
  border-bottom: 4px solid #4E5D0C;
}

.button {
  background-color: #637996;
  text-align: center;
}*/
